html{
	padding: 0;
	margin: 0;
}

body{

	padding:0;
	margin:0;
}

#contenedor{

position:absolute;
width: 1200px;
height: 100%;
top: 0px;
margin-left:30px;

}

#fondo_header{

width:1200px;
height: 198px;
background-image: url("../imagenes/wavegrid.png");
z-index: 3;
top:0px;
position: absolute;

}

#logo{

width:194px;
height: 193px;
position: relative;
float:left;
z-index:4;
margin-left: 480px;

}

#buscador_header{

width: 200px;
height: 35px;
margin-top: 35px;
margin-left: 300px;
position: relative;
float:right;

}

#links_principales{

width: 270px;
height: 20px;
margin-left: 975px;
margin-top: 97px;
font-family: 'Pontano Sans', sans-serif;
font-size: 13px;

}


#links_header{

list-style:none;

}

#links_1{

padding:4px;
text-decoration: none;
color: #000;
float:left; 

}

#links_1 a{

text-decoration: none;
color: #000;
float:left; 

}

#compras{

width: 110px;
height: 20px;
margin-top: 10px;
list-style:none;
position: relative;
float:left;
margin-left: 60px;

}


#vista_compras{

padding:4px;
text-decoration: none;
color: #000;
float:left; 
margin-left: 0px;

}


#vista_compras a{

text-decoration: none;
color: #000;
float:left; 

}

.menu_principal{

width: 700px;
height: 20px;
margin-left: 360px;
margin-top: 2px;
z-index: 6;
float:left;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 300;
font-size: 16px;
position:relative;
}

.secciones_menu{

list-style:none;

}

.seccion{

padding:7px;
text-decoration: none;
color: #000;
float:left; 
margin-left: 4px;
}


.seccion a{

text-decoration: none;
color: #000;
float:left;

}

.seccion a:hover{

color:#FFF;
background-color:#D91C5C;
}


.contenido{
width: 1200px;
height: 100%;
margin-top:198px;
position: absolute;
}

.forma_registrate{

width: 560px;
height: 65px;
position:relative;
float:left;
margin-left:320px;
margin-top:80px;
position:relative;

}

.formulario_registro{

width:800px;
height: 500px;
margin-top: 220px;
margin-left: 320px;
}

p{
font-family: 'Pontano Sans', sans-serif;
font-size: 13px;
color:#726658;
}

h1{

font-family: 'Pontano Sans', sans-serif;
font-weight: 400;
font-size: 16px;
color:#726658;	
}

.registro{

width:220px;
height:25px;
margin-top: 8px;
font-family: 'Pontano Sans', sans-serif;
font-size: 13px;
color:#726658;

}

.datos_1{

width: 350px;
height: 500px;
float: left;
position: relative;

}

.datos_2{
	
width: 400px;
height: 500px;
float: left;
position: relative;

}

.aviso{

font-family: 'Pontano Sans', sans-serif;
font-size: 13px;
color:#BE1E2D;
float:left;
font-style: italic;
position: relative;

}

.asterisco{

font-family: 'Pontano Sans', sans-serif;
font-size: 13px;
color:#BE1E2D;
}

h2{

font-family: 'Pontano Sans', sans-serif;
font-weight: 400;
font-size: 12px;
color:#726658;	
font-style: italic;

}


.btn_registro{

width: 118px;
height: 36px;
position:absolute;
margin-left: 110px;
margin-top: 45px;
}

/*.titulo_boton{

font-family: 'Pontano Sans', sans-serif;
font-size: 13px;
font-weight: 300;
color:#FFF;
position:absolute;
margin-left: 30px;
text-align: center;
padding-top: 10px;
}*/

#footer{

width:1200px;
height: 55px;
background-color: #AF4164;
position:relative;
float:left;
margin-top: 10px;

}

#datos_footer{

width: 600px;
height: 45px;
margin-left: 320px;
z-index: 6;
float:left;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 300;
font-size: 13px;
position:relative;
list-style: none;
bottom:30px;
padding-top: 25px;

}

#links_footer{

padding:7px;
color: #FFF;
float:left; 
margin-left: 10px;
color: #FFF;
position: relative;

}

#links_footer a{
text-decoration: none;
color:#FFF;
}

#redes_sociales{

width: 100px;
height: 55px;
z-index: 9;
float:left;
position: relative;
list-style: none;
margin-top: 10px;
bottom: 20px;

}

#iconos_redes{

float:left;
position:relative;
z-index: 9;
padding-top:25px;
}